.audio-controls {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-prev svg,
  &-next svg {
    width: 30px;
    height: 30px;
  }

  &-play svg,
  &-pause svg {
    width: 50px;
    height: 50px;
  }
}