.music {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  .album {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background: beige;
  }

  .title {
    font-weight: bold;
  }

  .author {
    font-size: 10px;
  }
}